<%#  require 'mechanize' %>

<!-- main url start here -->
<div class="url_comments_wrapper discussion_<%= discussion.id %> ">
  <!-- Url start here -->
  <div class="urls_div root_div">
    <div class="float_l">
      <a href="javascript:void(0);" id="toogle_comment" class="toggle_comment<% if discussion.comments.where('Parent_id is Null').count>0 %> expand_btn<% end %>">&nbsp;</a>
    </div>
    <div class="float_l">

      <% if discussion.discussion_type == "URL" %>
        <a href="javascript:void(0);" onclick="show_discussion(<%= discussion.id %>);" class="discus_web_url_link"><%= discussion.site_title %></a>
      <% else %>
        <a href="javascript:void(0);" class="discus_web_url_link" onclick="show_discussion(<%= discussion.id %>);"><%=  truncate(discussion.discussion,:length=>200) %></a>
      <% end %>
      <span class="comment_count">[ <span class="discussion_comm_count_<%= discussion.id %>"><%=  Comment.count(:all, :conditions=>["discussion_id=?",discussion.id]) %></span> ]</span>
      <div><%= render :partial=> "discussions/rating_partial", :locals=>{:rating_for => discussion, :section => 'popular'} %></div>
      <div class="post_comment_div">
        <span class="clear_both delete_discussion_div">
          <% if @login_user.is_admin? %>
            <a href="javascript:void(0);" class="discussion_action_link" onclick="delete_discussion(<%= discussion.id %>,jQuery(this))">Delete</a>
          <% else %>
            <a class="discussion_action_link comment_link " href="javascript:void(0);">Post Comment</a>
          <% end %>
        </span>
        <% unless @login_user.is_admin? %>
          <div class="comment_form_div">
            <% form_for :comment, :url=>{:controller=>:discussions, :action => 'post_comments'},:html=>{:class=>"comment_forms",:id=>"comment_"+discussion.id.to_s,:multipart => true}, :remote=>true do |f|  %>
              <select class="comment_type" name="comment[comment_type]" onchange="set_comment_type($(this))">
                <option value="URL">URL</option>
                <option value="Comment/Question">Comment/Question</option>
                <option value="Document">Document</option>
                <option value="Picture">Picture</option>
              </select>
              <span class="com_title clear_both discussion_frm_heading">Title:</span>
              <%= text_field 'comment','title', :class=>"float_l comment_title_field",:style=>"width:285px;" ,:maxlength=>"150"%>
              <span class="error title_error clear_both float_l"></span>
              <span class="com_Description clear_both discussion_frm_heading">URL:</span>
              <%= text_area 'comment', 'comment', :class=>"post_comment_text_area float_l clear_both"%>
              <span class="error url_error clear_both float_l"></span>
              <span id="disc_type_file" class="clear_both hidden_element discussion_frm_heading ">
                <span class="picture_options_span hidden_element">
                  <a class="pic_options" href="javascript:void(0);" onclick="jQuery(this).closest('#disc_type_file').find('.upld_pic_span').hide();jQuery('#upload_photo_popup').show();pic_form=jQuery(this).closest('form');">Upload Picture</a>
                  <a class="pic_options" href="javascript:void(0);" onclick="show_find_photo_for_comment(jQuery(this));">Find Picture</a>
                </span>
                <span class="upld_pic_span clear_both">
                  <input type="file" name="com_file" class="com_file clear_both" />
                  <input type="hidden" name="is_uploaded" id="is_uploaded" value="true"/>
                  <input type="hidden" name="photo_url" value=""/>
                  <input type="hidden" name="added_from" value=""/>
                </span>
                <span class="error file_error clear_both float_l"></span>
              </span>
              <span class="clear_both">&nbsp;&nbsp;&nbsp;</span>
              <%= hidden_field 'comment','discussion_id', :value=>discussion.id, :id=>"dis_id"%>
              <a class="blue_btn clear_both float_l padding_top_six" onclick='post_comment(jQuery(this));' id="post_discussion_comment" href="javascript:void(0);">Post Comment</a>
            <% end %>
            <a class="action_link no_text_deco float_l cancel_link comman_cancel_link" href="javascript:void(0);">Cancel</a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="comments_div">
      <% discussion.comments.where('Parent_id is Null').each do |comment| %>
        <%= render :partial => "discussions/outer_comment", :locals=>{:comment=>comment} %>
      <% end %>
    </div>
  </div>
  <!-- Url ends here -->
</div>
<!-- main url end here -->
<%= render :partial=>"discussion_groups/upload_photo" %>
<script type="text/javascript">
  jQuery(document).ready(function(){
    set_effects();
  });
</script>
