<%= @username %> is discussing:
<% if @discussion.discussion_type == "URL" %>
  <a href="<%= @discussion.discussion %>"><%= @discussion.site_title %></a>
  Sign up to join the discussion.
<% else %>
  <span style="font-weight: bold;color: black">
    <b>
    <%= @discussion.title if @discussion.title.present? %>
    </b>
  </span>
  <br/>
  <%= @discussion.discussion %>
<% end %>